<div class="admin-page">

    <div class="container">

        <h2 class="admin-heading">Manage Users</h2>

        <a href="/admin/register"  class="delete admin-edit right">Create A New User</a>

        {{#each users}}

        <div class="admin-post">

            <div class="admin-info">
                
                <h3 class="title"><a href="/author/{{url}}">{{firstName}} {{lastName}}</a></h3>

                <span class="details">
                    {{email}}
                </span>

            </div>

            <div class="admin-buttons">
                <a href="user/{{url}}/edit"  class="delete admin-edit">Update User</a>
                <a href="user/{{url}}/delete" class="delete">Delete User</a>
            </div>

        </div>

        {{/each}}

    </div>

</div>